// general utility gems
@import 'breakpoint';
@import "singularitygs";
@import 'toolkit';
@import 'compass/css3';
@import 'a11y';

// normalize components, see https://github.com/ksmandersen/compass-normalize
@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
// @import 'normalize/links';
@import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
// @import 'normalize/tables';

// variables
@import 'config/global-vars';
@import 'config/app-specific-vars';

// general IAM partials
@import 'ucla-iam-core/core-layout';
// @import 'ucla-iam-core/core-layout-flex';
@import 'ucla-iam-core/global-elements';
// @import 'ucla-iam-core/tables';
@import 'ucla-iam-core/form-elements';
@import 'ucla-iam-core/general-classes';
@import 'ucla-iam-core/flair';
@import 'ucla-iam-core/webshim-styling';

// app specific styles
@import 'ucla-this-app/layout';
@import 'ucla-this-app/app-styles';
@import 'ucla-this-app/cards';
