// where everything goes
.content-wrapper {
  width: 94%;
  margin: 0 auto;
  padding-bottom: 8em;
}

// logo etc
.page-header {
  max-width: 444px;
  margin: $double-spacing auto;
}

// home page specific styling
.home {
  max-width: 58em;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
  .content h1 {
    margin-bottom: $triple-spacing;
  }
}

// general layout of pages
.page, .home {
  .content {
    @include grid-span(2, 1);
    @include breakpoint($multi-column) {
      @include grid-span(1, 1);
    }
  }
  .supporting-info {
    @include grid-span(2, 1);
    margin-bottom: $double-spacing;
    @include breakpoint($multi-column) {
      @include grid-span(1, 2);
    }
  }
}

// for pages with a lot of supporting content use column count to spread it out
.many-infos {
  .content {
    @include breakpoint($split-column-supporting-info) {
      @include grid-span(1, 1, 2);
    }
  }
  .supporting-info {
    @include breakpoint($split-column-supporting-info) {
       @include grid-span(1, 2, 2);
      column-count: 2;
      column-gap: normal;
    }
  }
}

// cards to manage content once logged in
.cards-wrapper {
  max-width: 58em;
  margin: 0 auto;
}

// inline links to cards on tablet/desktop
.floating-side-nav {
  display: none;
  @include breakpoint($multi-column) {
    display: block;
  }
}

// align footer content somewhat
.ucla-iam-footer-content {
  max-width: 58em;
}

//single column pages
.content-full {
  @extend %content-styling;
  max-width: 42em;
  margin: 0 auto;
}
