@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

:host {
  display: block;
}

::content > .selected {
  font-weight: bold;
  font-style: italic;
}

::content h2 {
  color: $body-text-color;
  padding: 0 $half-spacing;
  margin-bottom: 0;
}

:host > ::content dl {
  font-size: $meta-font-size;
  margin-top: 0;
  color: $black;
  overflow: hidden;
  box-sizing: border-box;
}

:host > ::content dt, :host > ::content dd {
  overflow: hidden;
  padding: .3rem 0 .1rem;
  background: lighten($neutral, 15%);
  border-bottom: 1px solid $background-light-grey;
  &:nth-of-type(even) {
    background: lighten($neutral, 18%);
  }
}

:host > ::content dt {
  float: left;
  width: 23%;
  text-align: right;
  padding-right: $default-spacing;
  font-weight: bold;
  @include clearfix();
}

:host > ::content dd {
  float: right;
  word-wrap: break-word;
  width: 77%;
  margin-left: 0;
}

::content .pink {
  dt, dd {
    background: mix($ucla-pink, $white, 38%);
    border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    &:nth-of-type(even) {
      background: mix($ucla-pink, $white, 35%);
    }
  }
}

::content .yellow {
  dt, dd {
    background: lighten($ucla-gold, 23%);
    border-bottom: 1px solid $ucla-gold;
    &:nth-of-type(even) {
      background: lighten($ucla-gold, 18%);
    }
  }
}

::content .blue {
  dt, dd {
    background: mix($ucla-cyan, $white, 50%);
    border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    &:nth-of-type(even) {
      background: mix($ucla-cyan, $white, 38%);
    }
  }
}

::content .orange {
  dt,dd {
    background: lighten($ucla-orange, 15%);
    border-bottom: 1px solid $ucla-orange;
    &:nth-of-type(even) {
      background: lighten($ucla-orange, 12%);
    }
  }
}
