.line-thru {
  @include line-thru();
}

.floating-side-nav {
  float: left;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: $h1-font-size;
    margin-bottom: $default-spacing;
    &:hover {
      color: $ucla-yellow;
    }
  }
}

.content {
  background: $white;
  @extend %ucla-box-shadow;
  padding: $default-spacing;
  margin-bottom: $quad-spacing;
}

.info-box {
  background: rgba(#fff, .8);
  padding: $half-spacing $default-spacing;
  width: 61.5%;
  float: right;
  margin-top: $double-spacing;
  margin-right: $double-spacing;
  p {
    font-size: $meta-font-size;
  }
}

.tertiary-links {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $quad-spacing;
  background: rgba($black, .75);
  border-top: 1px solid $primary-color;
  padding: $half-spacing;
  color: lighten($body-text-color, 40%);
  @include breakpoint($multi-column) {
		height: $double-spacing;
	}
	a, span {
		display: block;
		width: 100%;
		@include breakpoint($multi-column) {
			display: inline;
			width: auto;
		}
	}
}

.tertiary-links-wrapper {
  p {
    margin: 0 auto;
    font-size: $meta-font-size;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $footer-link-color;
    &:visited {
      color: $footer-link-color;
    }
    &:hover, &:focus {
      color: $footer-link-color-hover;
      text-decoration: underline;
    }
  }
}
