.line-thru {
  @include line-thru();
}

.floating-side-nav {
  float: left;
  margin-top: $default-spacing;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: $h1-font-size;
    margin-bottom: $default-spacing;
    font-weight: $header-weight;
    &:hover {
      color: $ucla-yellow;
    }
  }
}

.content {
  background: $white;
  @extend %ucla-box-shadow;
  padding: $default-spacing;
  margin-bottom: $quad-spacing;
}

.reset-lookup {
  @include clearfix;
  article {

  }
  aside {

  }
}

.overlay {
  @extend .content;
  @extend .content-wrapper;
}

.info-box {
  background: rgba(#fff, .8);
  padding: $half-spacing $default-spacing;
  width: 61.5%;
  float: right;
  margin-top: $double-spacing;
  margin-right: $double-spacing;
  p {
    font-size: $meta-font-size;
  }
}

.help-box {
  font-size: $meta-font-size;
}
