.line-thru {
  @include line-thru();
}

hr {
  height: 1px;
  color: $body-text-color;
  background-color: $body-text-color;
  border: none;
}

.floating-side-nav {
  float: left;
  margin-top: $default-spacing;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: $white;
    font-size: $h1-font-size;
    margin-bottom: $default-spacing;
    font-weight: $header-weight;
    &:hover {
      color: $ucla-yellow;
    }
  }
}

%content-styling {
  background: $white;
  @extend %ucla-box-shadow;
  padding: $default-spacing;
  margin-bottom: $quad-spacing;
}


.overlay {
  position: relative;
  margin-top: $quad-spacing;
  border-radius: $card-border-radius;
  @extend %content-styling;
  @extend .content-wrapper;
}

.content {
  @extend %content-styling;
}

.supporting-info {
  background: rgba(#fff, .8);
  padding: $default-spacing $default-spacing;
  p, li {
    font-size: $meta-font-size;
  }
  ul {
    padding-left: $default-spacing;
  }
  h1 {
    font-size: $h2-font-size;
  }
  h2 {
    font-size: $h3-font-size;
  }
}

// home page specific styling
.home {
  max-width: 58em;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
  .content h1 {
    margin-bottom: $triple-spacing;
  }
}
