/////////////////////////////////////////
///             GENERAL
/////////////////////////////////////////

// basic card styling
.card {
  background: $white;
  padding: 0 $triple-spacing ;
  font-weight: $header-weight;
  margin-bottom: $half-spacing;
  @extend %ucla-box-shadow;
  transition: all .2s ease-in-out;
  overflow: visible;
  border-radius: $card-border-radius;
  &:hover {
    transform: scale(1.025);

    border-radius: $card-border-radius;
  }
  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: $half-spacing;
    &:hover {
      @include background-image(linear-gradient(to bottom right, $white, $alternate-light-grey));
    }
  }
}

/////////////////////////////////////////
///           CARD LAYOUTs
/////////////////////////////////////////

// interior card listing
.cards-column {
  width: 32em;
  float: right;
  overflow: visible;
  h1 {
    display: inline-block;
    background: rgba($ucla-blue-dark, .9);
    color: $ucla-yellow;
    margin-left: 12.5em;
    margin-top: $default-spacing;
    margin-bottom: -$quad-spacing;
    padding: $half-spacing;
    font-size: $h2-font-size;
    font-weight: $header-weight;
    &:first-child {
      margin-top: 0;
    }
  }
  .profile-pic {
    max-width: $octo-spacing;
    max-height: $octo-spacing;
    margin-left: -9em;
    margin-top: $default-spacing;
    float: left;
    border-radius: $global-border-radius;
  }
  p {
    margin-top: 0;
  }
  a .card {
    color: $body-text-color;
  }
  .card {
    font-size: $meta-font-size;
    @include clearfix;
    dl {
      @include grid-span(1, 1, 2);
      &:nth-child(2) {
        @include grid-span(1, 2, 2);
      }
    }
    dt {
      margin-top: $default-spacing;
    }
    dd {
      margin-left: 0;
      font-weight: bold;
    }
  }
}
