.content-wrapper {
  width: 94%;
  margin: 0 auto;
  padding-bottom: 8em;
}

.page-header {
  max-width: 444px;
  margin: $double-spacing auto;
}

// general layout of pages
.page, .home {
  .content {
    @include grid-span(2, 1);
    @include breakpoint($multi-column) {
      @include grid-span(1, 1);
    }
  }
  .supporting-info {
    @include grid-span(2, 1);
    margin-bottom: $double-spacing;
    @include breakpoint($multi-column) {
      @include grid-span(1, 2);
    }
  }
}

// for pages with a lot of supporting content
.many-infos {
  .content {
    @include breakpoint($split-supporting-info) {
      @include grid-span(1, 1, 2);
    }
  }
  .supporting-info {
    @include breakpoint($split-supporting-info) {
       @include grid-span(1, 2, 2);
      column-count: 2;
      column-gap: normal;
    }
  }
}

// @include grid-span(1, 2, (1.1 1));

// prepare for app.js jquery toggle
#email-toggle {
  display: none;
}
