.error-box {
  background: repeating-linear-gradient(45deg, $error-color-dark, $error-color-dark $half-spacing, $error-color-dark-alt $half-spacing, $error-color-dark-alt $default-spacing);
  color: $error-color;
  h2, h3, p {
    color: $error-color;
  }
  p {
    font-size: $meta-font-size;
  }
  padding: $half-spacing;
  border-radius: $global-border-radius;
  text-align: center;
  margin-top: 0;
}

.meta {
  font-size: $meta-font-size;
}

.center {
  text-align: center;
}

.ucla-iam-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $quad-spacing;
  @include breakpoint($multi-column) {
    height: $double-spacing;
  }
  background: rgba($black, .75);
  border-top: 1px solid $ucla-blue-light;
  padding: $half-spacing;
  color: lighten($body-text-color, 40%);
  p {
    text-align: center;
    margin: 0 auto;
    font-size: $meta-font-size;
  }
  a {
    display: block;
    width: 100%;
    @include breakpoint($multi-column) {
      display: inline;
      width: auto;
    }
    text-decoration: none;
    color: $footer-link-color;
    &:visited {
      color: $footer-link-color;
    }
    &:hover, &:focus {
      color: $footer-link-color-hover;
      text-decoration: underline;
    }
  }
  .timestamp {
    padding-left: 2em;
  }
}
