/////////////////////////////////////////
///       ACCORDION RELATED
/////////////////////////////////////////

// accordion items on manage pages
.item-overview {
  @include grid-row;
  border-top: 1px solid $ucla-its-primary-light;
  dl {
    margin-bottom: 0;
    padding: ($global-padding / 2) 0;
    @include breakpoint(multi-column) {
      margin-left: 5px;
      margin-right: -5px;
    }
    @include grid-column(12);
    @include breakpoint(multi-column) {
      @include grid-column(8);
    }
    &:before {
      content: "\f054";
      font-family: FontAwesome;
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 28px;
      margin-top: -10px;
      color: $lighter-gray;
      @include breakpoint(multi-column) {
        content: "";
      }
    }
  }
  .expand-context {
    display: none;
    text-align: right;
    color: $light-gray;
    font-size: $helptext-font-size;
    @include breakpoint(multi-column) {
      @include grid-column(4);
      display: block;
    }
    vertical-align: top;
    padding-top: $global-padding / 2;

  }
  .expandable-area {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      @include breakpoint(multi-column) {
        content: "\f0ab";
      }
      font-family: FontAwesome;
      position: absolute;
      left: 1px;
      top: 20px;
      font-size: 20px;
      margin-top: -16px;
      color: $ucla-its-primary-alt;
    }
    &:hover {
      dl {
        margin-left: 8px;
        margin-right: -8px;
      }
    }
  }
  .toggled-open:before {
    content: "";
    @include breakpoint(multi-column) {
      content: "\f0aa";
    }
    font-family: FontAwesome;
    position: absolute;
    left: 1px;
    top: 20px;
    font-size: 20px;
    margin-top: -16px;
    color: $ucla-its-primary-alt;
  }
  .expanded-info {
    @include grid-column(12);
    display: none;
    background: $white;
  }
}

dt {
  font-weight: $global-weight-bold;
  color: $ucla-its-primary-alt;
  margin-bottom: 0;
  @include breakpoint(multi-column) {
    padding-left: $global-padding / 2;
  }
}
dd {
  font-size: $global-font-size;
  font-weight: $global-weight-bold;
  @include breakpoint(multi-column) {
    padding-left: $global-padding / 2;
  }
}

.item-overview + h2 {
  margin-top: $global-margin;
}

.mfa-preview {
  @include grid-col(4, 0);
  margin-right: 1rem;
  margin-bottom: 1rem;
  div {
    background: $off-white;
    padding: $global-padding / 2;
  }
  p, h4 {
    margin-bottom: 0;
  }
}
