/////////////////////////////////////////
///               HOME
/////////////////////////////////////////

.home div[role="main"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  max-width: 41rem;
  margin: auto;
}

.hero-form .ws-errorbox {
  margin-top: $global-margin / 2;
  margin-bottom: 0;
}

.hero-form-input {
  font-size: rem-calc(map-deep-get($header-styles, large-type, h1, font-size));
  width: 41rem;
  margin-bottom: 0;
}

.check-queue {
  margin-top: $global-margin * 8;
  align-self: center;
}

/////////////////////////////////////////
///          APP LAYOUT
/////////////////////////////////////////

related-results-and-actions, .main-wide div[role="main"] {
  display: block;
  width: 98%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.main-narrow div[role="main"] {
  display: block;
  width: 42em;
  margin: 0 auto;
  flex: 1 0 auto;
}

labeled-results:first-child h2 {
  margin-top: 0;
}

/*
.query-results {
  width: 42rem;
  @include breakpoint($collapse-account-actions) {
    float: left;
  }
}

.account-actions {
  max-width: 60rem;
  @include breakpoint($collapse-account-actions) {
    margin-left: 44rem;
    position: sticky;
    top: 10px;
  }
}
*/


/////////////////////////////////////////
///              MISC
/////////////////////////////////////////

.line-thru {
  @include line-thru();
}

.full {
  width: 100%;
}

.back {
  text-decoration: none;
  font-size: 3.5rem;
}

/////////////////////////////////////////
///          LABELED RESULTS
/////////////////////////////////////////

:host {
  display: block;
}

::content > .selected {
  font-weight: bold;
  font-style: italic;
}

::content h2 {
  color: $ucla-body-font-color;
  padding: 0 ($global-margin / 2);
  margin-bottom: 0;
}

:host > ::content dl {
  font-size: $helptext-font-size;
  margin-top: 0;
  color: $black;
  overflow: hidden;
  box-sizing: border-box;
}

:host > ::content dt, :host > ::content dd {
  overflow: hidden;
  padding: .3rem 0 .1rem;
  background: lighten($ucla-neutral, 15%);
  border-bottom: 1px solid $light-gray;
  &:nth-of-type(even) {
    background: lighten($ucla-neutral, 18%);
  }
}

:host > ::content dt {
  float: left;
  width: 23%;
  text-align: right;
  padding-right: $global-padding;
  font-weight: bold;
  @include clearfix();
}

:host > ::content dd {
  float: right;
  word-wrap: break-word;
  width: 77%;
  margin-left: 0;
}

::content .pink {
  dt, dd {
    background: mix($ucla-pink, $white, 38%);
    border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    &:nth-of-type(even) {
      background: mix($ucla-pink, $white, 35%);
    }
  }
}

::content .yellow {
  dt, dd {
    background: lighten($ucla-gold, 23%);
    border-bottom: 1px solid $ucla-gold;
    &:nth-of-type(even) {
      background: lighten($ucla-gold, 18%);
    }
  }
}

::content .blue {
  dt, dd {
    background: mix($ucla-cyan, $white, 50%);
    border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    &:nth-of-type(even) {
      background: mix($ucla-cyan, $white, 38%);
    }
  }
}

::content .orange {
  dt,dd {
    background: lighten($ucla-orange, 15%);
    border-bottom: 1px solid $ucla-orange;
    &:nth-of-type(even) {
      background: lighten($ucla-orange, 12%);
    }
  }
}

/////////////////////////////////////////
///         QUERY FEEDBACK
/////////////////////////////////////////

:host {
  display: block;
  float: right;
  width: 48%;
  background: $light-gray;
  position: relative;
  border-radius: $global-radius;
  padding: 0 $global-padding;
}

:host:before {
   content:"";
   position: absolute;
   right: 100%;
   top: $global-spacing * 2;
   width: 0;
   height: 0;
   border-top: $global-spacing solid transparent;
   border-right: $global-spacing solid $light-gray;
   border-bottom: $global-spacing solid transparent;
}

:host > ::content dl {
  font-size: $helptext-font-size;
}

:host > ::content dd {
  font-weight: bold;
}

:host > ::content p {
  font-size: $helptext-font-size;
}

:host > ::content h3 {
  display: inline-block;
  margin-top: 0;
}

::content .fail {
  background: $ucla-pink;
  color: $black;
  border-radius: $global-radius;
  padding: $global-padding / 2;
}

::content .success {
  background: $ucla-green;
  color: $black;
  border-radius: $global-radius;
  padding: $global-padding / 2;
}