/////////////////////////////////////////
///             GENERAL
/////////////////////////////////////////

// basic card styling
.card {
  background: $white;
  padding: $global-padding ($global-padding * 2) ;
  margin-bottom: $global-margin * 3;
  border-radius: $global-radius;
}

/////////////////////////////////////////
///           CARD LAYOUTS
/////////////////////////////////////////

.anchor-nav ul {
  background: $ucla-its-primary-button-color;
  border-radius: $global-radius;
  font-size: rem-calc(13);
  a {
    color: $white;
  }
}