.card {
    @include grid-col(6);
  .card-liner {
    overflow: hidden;
    padding: 20px 40px 20px 20px;
    margin-bottom: 30px;
    border: 1px solid $ucla-its-primary-light;
    min-height: 220px;
  }
  dl, dt {
    padding-left: 0;
  }
  dt, dd {
    display: inline;
    float: left;
    font-size: 13px;
    font-weight: $global-weight-normal;
  }
  dt {
    color: $ucla-its-primary;
    clear: both;
  }
  ul {
    margin-left: 0;
  }
  li {
    color: $ucla-its-primary;
    list-style: none;
    font-size: 13px;
  }
  .meta a {
    color: $light-gray;
  }
  h2 {
    margin-bottom: .5em;
    a {
      color: $ucla-its-primary-alt;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card-icon {
  float: left;
  width: 45px;
  height: 45px;
  line-height: 45px;
  svg {
    fill: $ucla-its-primary;
  }
}

.card-icon + .card-content {
  padding-left: 65px;
}

.card-content {
  h3 {
    font-size: rem-calc(map-deep-get($header-styles, large-type, h6, font-size));
    color: $ucla-its-primary;
  }
  .meta {
    font-size: .85rem;
    color: $ucla-its-gray-light;
  }
}

.card-content > *:first-child {
  margin-top: 0;
}

card-content > *:last-child {
  margin-bottom: 0;
}

.mfa-card {
  
}