/////////////////////////////////////////
///             GENERAL
/////////////////////////////////////////

// basic card styling
.card {
  background: $white;
  padding: $global-padding ($global-padding * 2) ;
  margin-bottom: $global-margin * 3;
  border-radius: $global-radius;
}

/////////////////////////////////////////
///           CARD LAYOUTS
/////////////////////////////////////////

// interior card listing
.cards-column {
  p {
    margin-top: 0;
  }
}
