/////////////////////////////////////////
//   FOUNDATION OVERRIDES / ADDITIONS
/////////////////////////////////////////

// display like it's a header
legend {
  font-size: rem-calc(nested-map-get($header-sizes, large-type, h2));
  margin-bottom: ($global-spacing / 2);
  display: block;
  width: 100%;
  font-weight: normal;
  color: $primary-color-safe;
}
 
// no CSS output for Foundation buttons component :)
button {
  @include button();
  border: 1px solid $medium-gray;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  &:hover {
    color: $white;
  }
 }

// blue + gold, action that changes page/etc
.primary-button {
  background-color: $ucla-its-primary-button-color;
  color: $white;
  border: none;
  &:hover {
    background-color: $ucla-its-primary-button-color-hover;
    color: $white;
  }
}

// button that cancels/clears changes
.cancel-button {
  color: $alert-color;
  &:hover {
    background-color: mix($alert-color, $white, 80%);
    color: $white;
  }
}

/////////////////////////////////////////
///           FORM STEPS
/////////////////////////////////////////

#form-step-bar {
  margin: $global-margin 0;
  padding: 0;
  display: block;
  position: relative;
  max-width: 25rem;
  .form-step-todo {
    color: $medium-gray;
  }
  .form-step-doing {
    color: $primary-color-safe; 
    background: $lighter-gray;
  }
  .form-step-done {
    color: $dark-gray;
  }
}

#form-step-bar li {
  display: inline-block;
  text-align: center;
  padding: 0;
  border-radius: 99rem;
  width: 32%;
  line-height: $global-spacing * 2;
  font-size: $small-font-size;
  &:nth-child(1)::before {
    position: absolute;
    font-size: $global-font-size / 2;
    content: "Step 1";
    top: -$global-margin;
  }
  &:nth-child(2)::before {
    position: absolute;
    font-size: $global-font-size / 2;
    content: "Step 2";
    top: -$global-margin;
  }
  &:nth-child(3)::before {
    position: absolute;
    font-size: $global-font-size / 2;
    content: "Step 3";
    top: -$global-margin;
  }
}

/////////////////////////////////////////
///           ZXCVBN Meter
/////////////////////////////////////////

#pass1 {
  margin-bottom: 0;

}

meter {
  appearance: none;
  padding: 0;
  width: 98.5%;
  display: block;
  margin: 0 auto $global-margin;
  height: $global-margin / 6;
  vertical-align: $global-margin;
  border-bottom-left-radius: $global-radius;
  border-bottom-right-radius: $global-radius;
  /* Applicable only to Firefox */
  background: none;
  background-color: transparent;
}

#password-strength-text .help-text {
  display: inline-block;
  padding: ($global-margin / 2) 0 $global-margin;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: transparent;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: $alert-color; }
meter[value="2"]::-webkit-meter-optimum-value { background: $warning-color; }
meter[value="3"]::-webkit-meter-optimum-value { background: $success-color; }
meter[value="4"]::-webkit-meter-optimum-value { background: $success-color; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: $alert-color; }
meter[value="2"]::-moz-meter-bar { background: $warning-color; }
meter[value="3"]::-moz-meter-bar { background: $success-color; }
meter[value="4"]::-moz-meter-bar { background: $success-color; }