// display like it's a header
legend {
  font-size: rem-calc(nested-map-get($header-sizes, large-type, h2));
  margin-bottom: ($global-spacing / 2);
  display: block;
  width: 100%;
  font-weight: normal;
  color: $primary-color-safe;
}

input {
  border-radius: $global-radius;
}
 
// no CSS output for Foundation buttons component :)
button {
  @include button();
  border: 1px solid $light-gray;
 }

// blue + gold, action that changes page/etc
.primary-button {
  background-color: $primary-color-safe;
  color: $ucla-gold;
  border: none;
  &:hover {
    background-color: $secondary-color;
    color: $ucla-blue-dark;
  }
}

// button that cancels/clears
.cancel-button {
  color: $alert-color;
  &:hover {
    background-color: mix($alert-color, $white, 80%);
    color: $white;
  }
}