#form-step-bar {
  margin: 0 0 ($global-margin * 2);
  padding: 0;
  .form-step-todo {
    color: $medium-gray; 
    border-bottom: 3px double $light-gray;
  }
  .form-step-doing {
    color: $primary-color-safe; 
    border-bottom: 3px double $primary-color-safe;
    background: $lighter-gray;
    border-radius: $global-radius;
  }
  .form-step-done {
    color: $primary-color-safe;
    border-bottom: 3px solid $primary-color-safe;
  }
}

#form-step-bar li {
  display: inline-block;
  text-align: center;
  width: 32%;
  line-height: 3em;
  font-size: $small-font-size;
}