// Defaults

.hero {
  @include breakpoint(hero-collapse) {
    padding: 75px 0;
  }
  background: #007cbf url("/assets/img/pool.png");
  background-size: cover;
  margin-top: -1rem;
  @include grid-row();
  &> div {
    @include grid-col(12, 0);
    @include breakpoint(hero-collapse) {
      @include grid-col(6);
    }
  }
}

.hero-content {
  * {
    color: $white;
  }
  background: #2e79ab;
  padding: $global-padding * 2;
}

.hero-content h1 {
  @include breakpoint(multi-column) {
    font-size: 2rem;
  }
}

.hero .cta-button {
  font-size: 18px;
  width: 100%;
  text-align: center;
  @include breakpoint(multi-column) {
    max-width: 5.5rem;
  }
  margin: 0;
  background: $ucla-yellow;
  &:hover {
    background: white;
  }
  a {
    color: $primary-color-alternate;
  }
  
}