html {
	height: 100% !important;
}

body {
  background-size: cover;
  letter-spacing: $global-letter-spacing;
	height: 100% !important;
}

.page-wrap {
  @include grid-row;
  max-width: $global-width;
  min-height: 100%;
  margin-bottom: -15rem; // equal to footer height
  padding-top: 6rem; // equal to header height
  @include breakpoint(multi-column) {
    margin-bottom: -13rem;
  }
}

.page-wrap:after {
  content: "";
  display: block;
}
.iam-footer, .page-wrap:after {
  height: 15rem;
  @include breakpoint(multi-column) {
    height: 13rem;
  }
}

// page header with logo and log in/out links etc
.page-header {
  width: 100%;
}

.page-header-contents {
  @include grid-row();
  a {
    color: $white;
    &:hover {
      color: $ucla-yellow;
      text-decoration: none;
    }
  }
}

.logo {
  @include grid-column(8);
  img {
    height: 56px;
  }
}

.logged-in-info {
  @include grid-column(4);
  text-align: right;
  vertical-align: top;
  color: $white;
}

// layout that applies to all pages
.page, .home, .management, .mfa {
  &> div, &> section {
    @include grid-column-row();
  }
  header {
    @include grid-column(12);
  }
}

// column layout for content
nav {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    padding-top: $global-padding;
    @include grid-column(4);
    @include grid-col-pos(-8);
  }
  @include breakpoint(wide) {
    @include grid-column(3);
    @include grid-col-pos(-9);
  }
}

.management {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(8);
    @include grid-col-pos(4);
  }
  @include breakpoint(wide) {
    @include grid-column(9);
    @include grid-col-pos(3);
  }
}
  
.page, .home, .mfa {
  .content {
    @include grid-column(12);
    @include breakpoint(multi-column) {
      @include grid-column(8);
    }
  }
  .supporting-info {
    @include grid-column(12);
    @include breakpoint(multi-column) {
      @include grid-column(4);
    }
  }
}

//single column pages
.message {
  background: $white;
  border-radius: $global-radius;
  padding: $global-padding 0;
  @extend %content-styling;
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(8);
    @include grid-column-position(2);
  }
}
