html {
	height: 100% !important;
}

body {
  background-size: cover;
  letter-spacing: $global-letter-spacing;
	height: 100% !important;
}

// logo etc
.page-header {
  max-width: 444px;
  margin: ($global-margin * 2) auto;
}

// general layout of pages
.page, .home {
  @include grid-row();
  .content {
    @include grid-column(16);
    @include breakpoint(multi-column) {
      @include grid-column(10);
    }
  }
  .supporting-info {
    @include grid-column(16);
    margin-bottom: ($global-margin * 2);
    @include breakpoint(multi-column) {
      @include grid-column(6);
    }
  }
}

// have source ordering of aside appear above article in mobile
.info-first {
  .content {
    @include breakpoint(multi-column) {
      @include grid-column-position(-6);
    }
  }
  .supporting-info {
    @include breakpoint(multi-column) {
      @include grid-column-position(10);
    }
  }
}

// home page specific styling
.home {
  max-width: 60rem;
  a {
    text-decoration: none;
  }
  .content h1 {
    margin-bottom: $global-margin * 4;
  }
}

// for a lot of supporting info use column count to spread it out
.column-split {
  @include breakpoint(split-column-supporting-info) {
    @include grid-column-collapse;
    column-count: 2;
    column-gap: normal;
  }
}

// cards to manage content once logged in
.cards-wrapper {
  max-width: 58rem;
  margin: 0 auto;
}

// inline links to cards on tablet/desktop
.floating-side-nav {
  display: none;
  @include breakpoint(multi-column) {
    display: block;
  }
}

//single column pages
.content-full {
  @extend %content-styling;
  max-width: 48rem;
  margin: 0 auto;
}

// padding on bottom to leave space for fixed footer
.page, .home, .cards-wrapper {
  margin-bottom: $global-spacing * 4;
}

// footer height may need to change between applications, so keep outside framework
.ucla-iam-footer {
  height: $global-spacing * 4;
	@include breakpoint(multi-column) {
		height: $global-spacing * 2;
	}
}

// align footer content somewhat
.ucla-iam-footer-content {
  max-width: 60rem;
}
