html {
	height: 100% !important;
}

body {
  background-size: cover;
  letter-spacing: $global-letter-spacing;
	height: 100% !important;
}

// logo etc
.page-header {
  @include grid-row();
  background: $ucla-blue url('../img/clouds.jpg') right top;
  border-bottom: 2px solid $ucla-blue;
  margin-bottom: $global-margin * 3;
  h1 a {
    color: $white;
    line-height: $global-spacing * 6;
  } 
  .logo {
    @include grid-column(2);
  }
}

// general layout of pages
.page, .home {
  @include grid-row();
  .content {
    @include grid-column(12);
    @include breakpoint(multi-column) {
      @include grid-column(7);
    }
  }
  .supporting-info {
    @include grid-column(12);
    margin-bottom: ($global-margin * 2);
    @include breakpoint(multi-column) {
      @include grid-column(5);
    }
  }
}

// have source ordering of aside appear above article in mobile
.info-first {
  .content {
    @include breakpoint(multi-column) {
      @include grid-column-position(-5);
    }
  }
  .supporting-info {
    @include breakpoint(multi-column) {
      @include grid-column-position(7);
    }
  }
}

// home page specific styling
.home {
  a {
    text-decoration: none;
  }
}

// cards to manage content once logged in
.cards-column {
  @include breakpoint(multi-column) {
    @include grid-column(9);
    @include grid-column-position(-3);
  }
}

// inline links to cards on tablet/desktop
.anchor-nav {
  @include breakpoint(multi-column) {
    @include grid-column(3);
    @include grid-column-position(9);
  }
}

//single column pages
.content-full {
  @extend %content-styling;
  max-width: 40rem;
  margin: 0 auto;
}

// padding on bottom to leave space for fixed footer
.page, .home, .cards-wrapper {
  margin-bottom: $global-spacing * 4;
}

// footer height may need to change between applications, so keep outside framework
.ucla-iam-footer {
  height: $global-spacing * 4;
	@include breakpoint(multi-column) {
		height: $global-spacing * 2;
	}
}

// align footer content somewhat
.ucla-iam-footer-content {
  max-width: 60rem;
}
