html {
	height: 100% !important;
}

body {
  background-size: cover;
  letter-spacing: $global-letter-spacing;
	height: 100% !important;
}

.page-wrap {
  @include grid-row;
  max-width: $global-width;
  min-height: 100%;
  padding-top: 6rem; // equal to header height
  margin-bottom: -15rem; // equal to footer height
  @include breakpoint(compact-footer) {
    margin-bottom: -29rem; // equal to footer height
  }
  @include breakpoint(multi-column) {
    margin-bottom: -13.6rem; // equal to footer height
  }
}

.page-wrap:after {
  content: "";
  display: block;
}
.iam-footer, .page-wrap:after {
  height: 15rem;
  @include breakpoint(compact-footer) {
    height: 29rem; // equal to footer height
  }
  @include breakpoint(multi-column) {
    height: 13.6rem; // equal to footer height
  }
}

// page header with logo and log in/out links etc
.page-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  @include breakpoint(multi-column) {
    height: 6rem;
  }
}

.page-header-contents {
  @include grid-row();
  a {
    color: $white;
    &:hover {
      color: $ucla-yellow;
      text-decoration: none;
    }
  }
}

.logo {
  @include grid-column(9);
  @include breakpoint(multi-column) {
    @include grid-column(7);
  }
  @include breakpoint(hero-collapse) {
    @include grid-column(8);
  }
  img {
    padding-left: $global-padding;
    @include breakpoint(multi-column) {
      margin-top: $global-spacing;
    }
    height: 28px;
  }
}

.logged-in-info {
  @include grid-column(3);

  @include breakpoint(multi-column) {
    @include grid-column(5);
  }
  @include breakpoint(hero-collapse) {
    @include grid-column(4);
  }
  text-align: right;
  vertical-align: top;
  color: $white;
  p {
    padding-right: $global-padding;
  }
}

// layout that applies to all logged in pages
.home, .management, .mfa {
  &> div {
    @include grid-column-row();
  }
  header {
    @include grid-column(12);
  }
}

// column layout for content
nav {
  position: absolute;
  z-index: 100;
  left:0;
  width: 100%;
  @include breakpoint(multi-column) {
    position: relative;
  }
  @include breakpoint(multi-column) {
    padding-top: $global-padding;
    @include grid-column(4);
  }
  @include breakpoint(wide) {
    @include grid-column(3);
  }
}

// layout for logged in pages
.management, .mfa {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(8);
  }
  @include breakpoint(wide) {
    @include grid-column(9);
  }
}

// logged out or single-col pages
.page, .message {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(8);
    @include grid-column-position(2);
  }
}

// columns for logged out index page
.intro-cols {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(4);
  }
}

// columns used for affiliation choice
%half-cols {
  @include grid-column(12);
  @include breakpoint(multi-column) {
    @include grid-column(6);
  }
}
