.line-thru {
  @include line-thru();
  margin: -($global-spacing / 2) 0 0;
}

a {
  font-weight: bold;
}

hr {
  height: 1px;
  color: $body-font-color;
  background-color: $body-font-color;
  border: none;
}

.home .menu {
  border-radius: $global-radius;
  li {
    margin-bottom: 1px;
    background: $white;
    &:first-child {
      border-top-left-radius: $global-radius;
      border-top-right-radius: $global-radius;
    }
    &:last-child {
      border-bottom-left-radius: $global-radius;
      border-bottom-right-radius: $global-radius;
    }
  }
}

// basic styles applied to all major chunks of content
%content-styling {
  padding: $global-spacing;
  margin-bottom: ($global-spacing * 4);
}

// need nested containers due to foundation's grid system
.content > div {
  @extend %content-styling;
}

// need nested containers due to foundation's grid system
.supporting-info > div {
  background: $white;
  padding: $global-spacing $global-spacing;
  p, li {
    font-size: $small-font-size;
  }
  ul {
    padding-left: $global-spacing;
  }
  h1 {
    font-size: rem-calc(nested-map-get($header-sizes, large-type, h3));
  }
  h2 {
    font-size: rem-calc(nested-map-get($header-sizes, large-type, h4));
  }
}

/////////////////////////////////////////
///        TIMER & COUNTDOWN
/////////////////////////////////////////

#timeout {
  font-size: $small-font-size;
  margin: $global-spacing 0;
  width: 100%;
}

/* counter */
#counter {
  font-weight: $global-weight-bold;
}

/* countdown bar */
#bar {
  background: $light-gray;
  border: solid 1px $medium-gray;
  height: rem-calc(13);
  width: 100%;
  border-radius: $global-radius;
}

#barfill {
  background: $ucla-blue;
  border-radius: $global-radius;
  height: rem-calc(13);
  width: 0;
}

/////////////////////////////////////////
///            CARDS
/////////////////////////////////////////

// basic card styling
.card {
  background: $white;
  padding: $global-padding ($global-padding * 2) ;
  margin-bottom: $global-margin * 3;
  border-radius: $global-radius;
}

.anchor-nav ul {
  background: $light-gray;
  border-radius: $global-radius;
  font-size: rem-calc(13);
}