/////////////////////////////////////////
///          BITS & PIECES
/////////////////////////////////////////

h1, h3, h5 {
  text-transform: uppercase;

  .exclude-text-transform {
    text-transform: none;
  }
}

h2, h3 {
  font-weight: $global-weight-normal;
}

kbd, code {
  font-weight: $global-weight-bold;
  letter-spacing: 1px;
}

.intro-cols {
  .button {
    width: 100%;
  }
  .second-cta {
    margin-top: -$global-margin;
  }
}

.line-thru {
  @include line-thru();
  margin: -($global-spacing / 2) 0 0;
}

.management .alert-info i {
  left: 1.25rem;
}

ul.listless {
  padding-left: $global-spacing;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  li li {
    font-size: $helptext-font-size;
  }
}

article h1 {
  margin-top: $global-margin;
  @include breakpoint(multi-column) {
    margin-top: 0;
  }
}

.home h1 {
  padding-top: $global-margin;
}

.home .menu a {
  padding-left: 0;
}

.hero-button {
  font-size: 18px;
  @include breakpoint(multi-column) {
    height: 5.5rem;
    line-height: 4rem;
  }
}

/////////////////////////////////////////
///         OVERALL CONTENT 
/////////////////////////////////////////

// basic styles applied to all major chunks of content
%content-styling {
  margin-top: $global-spacing * 2;
  margin-bottom: $global-spacing * 4;
}

// need nested containers due to foundation's grid system
.page > div, .home > div, .message > div {
  @extend %content-styling;
}

.page-content {
  background: $white;
  padding: 0;
  @include breakpoint(multi-column) {
    padding: $global-padding 0;
  }
  margin-bottom: $global-margin * 2;
  @include grid-row; 
  width: 95%;
  @extend %ucla-box-shadow;
}

.clearfix {
  @include clearfix;
}

.intro-cols {
  img {
    margin: ($global-spacing * 2) 0 $global-spacing;
  }
}

.affiliation-choice {
  @extend %half-cols;
  @include grid-column-collapse();
  margin-top: $global-margin;
  padding-right: $global-padding * 3;
}

// need nested containers due to foundation's grid system
.supporting-info > div {
  background: $white;
  padding: $global-spacing;
  border-radius: $global-radius;
  p, li {
    font-size: $small-font-size;
  }
  h1 {
    background: $ucla-gold;
    color: $ucla-blue-dark;
    padding: $global-padding / 2;
    display: inline-block;
    margin-left: -$global-margin * 1.8;
    font-size: rem-calc(map-deep-get($header-styles, large-type, h5, font-size));
  }
  h2 {
    font-size: rem-calc(map-deep-get($header-styles, large-type, h6, font-size));
  }
}