.mfa .supporting-info {
  display: none;

  &.show {
      display: block;
  }

  @include breakpoint(multi-column) {
    display: block;
  }
}

code, kbd, pre, samp {
  font-size: $helptext-font-size;
}

fieldgroup.inline {
  @include button-group-expand();
} 

.get-help {
  display: block;
  @include breakpoint(multi-column) {
    display: none;
  }
  margin-top: $global-margin;
  background: $nav-background;
  p {
    margin-bottom: 0;
  }
  a {
    color: $white;
    font-weight: $global-weight-bold;
    padding: $global-padding * .5;
    display: block;
  }
}

.note-that {
  font-size: $helptext-font-size;
}

.device {
  background: $white;
  padding: $global-padding;
  margin-bottom: $global-margin;
  @include grid-row();
  img {
    @include grid-column(3);
    @include breakpoint(large-type) {
      @include grid-column(2);
    }
  }
  .device-info {
    @include grid-column(9);
    @include breakpoint(large-type) {
      @include grid-column(10);
    }
  }
}

@mixin notification-banner($background: $ucla-blue, $color: $white) {
  position: absolute;
  top: 0;
  right: 0;
  @include grid-row();
  width: 100%;
  height: $global-spacing * 3;
  background: $background;
  color: $color;
  padding: $global-padding;
  p {
    @include grid-column(11);
    font-size: $helptext-font-size;
    @include breakpoint(large-type) {
      font-size: $global-font-size;
    }
    font-weight: $global-weight-bold;
  }
  aside {
    @include grid-column(1);
    a {
      color: $white;
    }
  }
}

.banner-success {
  @include notification-banner(#0ccf70)
}

.banner-alert {
  @include notification-banner($alert-color)
}
