.mfa .supporting-info {
  display: none;
  &.show {
    display: block;
  }
  @include breakpoint(multi-column) {
    display: block;
  }
}

code, kbd, pre, samp {
  font-size: $helptext-font-size;
}

fieldgroup.inline {
  @include button-group-expand();
} 

.get-help {
  display: block;
  @include breakpoint(multi-column) {
    display: none;
  }

  margin-top: $global-margin * 5;

  @include breakpoint($topbar-unstack-breakpoint) {
    margin-top: $global-margin;
  }

  background: $nav-background;
  p {
    margin-bottom: 0;
  }
  a {
    color: $white;
    font-weight: $global-weight-bold;
    padding: $global-padding * .5;
    display: block;
  }
}

.note-that {
  font-size: $helptext-font-size;
}

.device {
  background: $white;
  padding: $global-padding;
  margin-bottom: $global-margin;
  @include grid-row();
  .device-image, .device-image-linked {
    @include grid-column(3);
    @include breakpoint(large-type) {
      @include grid-column(2);
    }
  }
  .device-info {
    @include grid-column(9);
    @include breakpoint(large-type) {
      @include grid-column(10);
    }
  }
  .note-that {
    margin-bottom: 0;
  }
}

.device-image svg {
  fill: $medium-gray;
}

.device-image-linked svg {
  fill: $black;
}

.device-editable {
  @extend .device;
  .device-info p {
    color: $body-font-color;
  }
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.05);
    .device-image-linked svg, .device-image svg {
      fill: $anchor-color;
    }
    .device-info p {
      color: $anchor-color-hover;
    }
  }
}

.mfa-inactive {
  @extend .device;
  background: $light-gray;
  border-radius: $global-radius;
  box-shadow: inset 0px 0px 10px 0px $medium-gray;
}

#additional-options {
  display: none;
}

#additional-options-toggle {
  color: $anchor-color;
  &:hover {
    color: $anchor-color-hover;
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin notification-banner($background: $ucla-blue, $color: $white) {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include grid-row();
  width: 100%;
  height: $global-spacing * 3;
  background: $background;
  color: $color;
  padding: $global-padding;
    font-weight: $global-weight-bold;
  p {
    @include grid-column(11);
    font-size: $helptext-font-size;
    @include breakpoint(large-type) {
      font-size: $global-font-size;
    }
  }
  aside {
    @include grid-column(1);
    text-align: right;
    cursor: pointer;
  }
}

.banner-success {
  @include notification-banner(#0ccf70);
}

.banner-alert {
  @include notification-banner($alert-color);
}

.app-source {
  max-width: 135px;
}

// spinner for the redirect
#loading-spinner {
  height: $global-spacing * 6;
}

.terse {
    text-align: center;
}

.querying-phone-indicator {
  @include form-error;
  font-weight: normal;
  color: $ucla-black;
  font-style: italic;
}
