

.menu {
  list-style: none;
  margin-left: 0;
  font-weight: $global-weight-normal;
  margin-top: -5.5rem;
  @include breakpoint(multi-column) {
    margin-top: 0;
  }
  > li {
    border-bottom: 1px solid $white;
    text-transform: uppercase;
  }
  a {
    background-color: $ucla-its-primary-alt;
    color: $white;
    display: block;
    font-weight: $global-weight-bold;
    font-size: .9rem;
    padding: 7px 32px 7px 15px;
    position: relative;
    text-decoration: none;
    &:hover {
      color: $ucla-its-secondary;
    }
    &:before {
      color: $white;
      content: "\f054";
      font-family: FontAwesome;
      font-size: 9px;
      font-weight: normal;
      position: absolute;
      right: 10px;
      top: 12px;
      width: 10px;
    }
  }
  .active a {
    color: $ucla-its-secondary;
  }
  .expanded > a {
    color: $ucla-its-secondary;
    &:before {
      content: "\f078";
      right: 11px;
    }
  }
  ul {
    margin-top: 1px;
    margin-left: 0;
    @include menu-direction(vertical);
    a {
      padding-left: 15px;
      padding-right: 30px;
      text-transform: none;
      font-size: .94em;
      &:before {
        content: "";
      }
    }
  }
}

.mobile-only {
  display: block;
  @include breakpoint(multi-column) {
    display: none;
  }
}