@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

button, .button {
  width: 100%;
  @include breakpoint($multi-column) {
    width: auto;
  }
  display: inline-block;
  margin: $half-spacing 0;
  zoom: 1;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  font-family: inherit;
  font-size: 100%;
  padding: ($default-spacing * 0.7) ($default-spacing * 1.05);
  color: $anchor-color;
  border: 1px solid #999;  /*IE 6/7/8*/
  border: none rgba($black, 0);  /*IE9 + everything else*/
  background-color: $background-light-grey;
  text-decoration: none;
  border-radius: $global-border-radius;
  &:focus {
    outline: 0;
  }
  &:hover {
    background-color: $alternate-light-grey;
    text-decoration: none;
    color: $anchor-color-hover;
  }
  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
  }
  a {
    text-decoration: none;
  }
}

.primary-button {
  background-color: $primary-color;
  color: $white;
  &:hover {
    background-color: $secondary-color;
    color: $ucla-blue-dark;
  }
}
