<form id="alt-email-address" role="form" action="/" method="post" class="ws-validate">
  <legend>Set an alternate email address</legend>
  <fieldset>
    <label for="alt-email-address-input" hidden>Alternate Email Address</label>
    <input id="alt-email-address-input" name="alt-email-address-input" type="email" placeholder="Alternate Email Address" aria-required="true" required>
  </fieldset>

  <button data-dialog="password-confirm" type="button" class="primary-button">Set Alternate Email Address</button>
</form>