<form id="bol-services" role="form" action="/">
  <legend>Manage Active BOL Services</legend>
    <label class="for-checkbox"><input type="checkbox" value="bol-email">bol-email</label>
    <label class="for-checkbox"><input type="checkbox" value="bolsoftware">bolsoftware</label>
    <label class="for-checkbox"><input type="checkbox" value="ftp">ftp</label>
    <label class="for-checkbox"><input type="checkbox" value="proxy">proxy</label>
    <label class="for-checkbox"><input type="checkbox" value="radius">radius</label>
    <label class="for-checkbox"><input type="checkbox" value="migrate">migrate</label>
    <label class="for-checkbox"><input type="checkbox" value="googleapps">googleapps</label>
    <label class="for-checkbox"><input type="checkbox" value="xmpp">xmpp</label>

    <h3>Manage eligibility for Google Apps</h3>

    <label class="for-checkbox"><input type="checkbox" value="googleapps-eligible">Google Apps eligible</label>

    <button data-dialog="password-confirm" type="button" class="primary-button">Update Access to BOL Services</button>
</form>