<h2>Your Logon ID:</h2>

<ul>
  <li>must be between 3 and 15 characters in length.</li>
  <li>must begin with a letter. The remaining characters can consist of any
  combination of letters and numbers.</li>
  <li>is case insensitive. All letters are converted to lowercase.</li>
</ul>

<h2>Choosing your password</h2>

<p>Your password safeguards access to your account. Select a phrase that is easy
for you to remember while difficult for someone else to guess. A valid password:</p>

<ul>
  <li>must be between 8 and 128 characters.</li>
  <li>must contain at least 1 letter and 1 number or the following special character: !@#$%^&amp;*().,</li>
  <li>Remember: your password is <strong>case sensitive</strong>. "A" and "a" are not interchangeable in your password.</li>
</ul>