<h2>Your Logon ID:</h2>

<ul>
  <li>must be between 3 and 15 characters in length.</li>
  <li>must begin with a letter. The remaining characters can consist of any
  combination of letters and numbers.</li>
  <li>is case insensitive. All letters are converted to lowercase.</li>
</ul>

<h2>Choosing your password</h2>

<p>Your password safeguards access to your account. Select a phrase that is easy for you to remember while difficult for someone else to guess. A valid password must be between 8 and 128 characters long, and use at least one character from two of the three sets of allowed characters:</p>

<ul>
  <li>letters: a-z or A-Z</li>
  <li>numbers: 0-9</li>
  <li>special characters: !@#$%^&*().,</li>
</ul>

<p>Passwords are case sensitive.</p>