<h1>UCLA Logon ID Set Up Tips</h1>

<h2>Your Logon ID</h2>

<ul>
  <li>must be between 3 and 15 characters in length.</li>
  <li>must begin with a letter. The remaining characters can consist of any
  combination of letters and numbers.</li>
  <li>is case insensitive. All letters are converted to lowercase.</li>
</ul>

<h2>Choosing your password</h2>

<p>Your password safeguards access to your account. Select a phrase that is easy
for you to remember while difficult for someone else to guess. A valid password:</p>

<ul>
  <li>must be between 8 and 128 characters.</li>
  <li>must contain at least 1 letter and 1 number or the following special character: !@#$%^&amp;*().,</li>
  <li>Remember: your password is <strong>case sensitive</strong>. "A" and "a" are not interchangeable in your password.</li>
</ul>

<h2>Selecting Challenge Question & Response</h2>

<p>Select a challenge and response phrase so that should you forget
your password in the future, you may reset it online. The challenge phrase must be
at least 8 characters long and may not
exceed 128 characters. The response phrase is <strong>case sensitive</strong>.
It can not be the same as your Challenge phrase. It must be at least
8 characters long and may not exceed 128 characters.</p>

<h2>Get Help</h2>

<ul class="listless">
<li><a href="#" target="tutorial">More on creating strong passwords</a></li>
<li><a href="#" target="tutorial">Frequently Asked Questions</a></li>
<li>Contact the Bruin Online Help Desk
  <ul>
    <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
    <li>310-267-HELP (4357)</li>
  </ul>
</li>
</ul>  