<h1>Finding your UCLA Identification Number </h1>

<p>A UCLA Identification Number (UID) is a 9-digit permenant record identifier number. Every student,
  faculty, staff, and contactor have a UID. You can find your UID:</p>

<ul>
  <li>on your online or paper letter of admission (new students, waitlisted applicants).</li>
  <li>on your BruinCard (current students, alumni, faculty, staff).</li>
  <li>on your UCLA transcript (current students, alumni).</li>
  <li>on your paycheck stub or online earnings statement (faculty, staff).</li>
</ul>

<p> If you do not remember or cannot find your UID, please bring photo
identification that clearly displays both your full name and date of birth
(Driver's License, Passport, or other government issued ID) to the Bruin
OnLine Help Desk located in Suite 124, Kerckhoff Hall. If you are not able to
visit the Help Desk, please fax in a completed copy of the
<a href="/files/ervice_request.pdf">UCLA Logon Service Request Form</a>,
with all required supporting documentation.</p>

<h2>Get Help</h2>

<ul class="listless">
  <li>Contact the Bruin Online Help Desk
    <ul>
      <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
      <li>310-267-HELP (4357)</li>
    </ul>
  </li>
</ul>