  <footer role="contentinfo" class="iam-footer">
    <div class="footer-wrapper">

      <div class="iam-footer-content footer-cta">
        <div class="cta-content">
          <h4>Read the FAQ</h4>
          <p>If you have a question, take a look to see if it's been answered in the FAQ.</p>
        </div>
        <p class="cta-button"><a href="https://help.bol.ucla.edu" target="_blank">Frequently Asked Questions</a></p>
    	</div>
    	
      <div class="iam-footer-content footer-cta">
        <div class="cta-content">
          <h4>Get Some Help</h4>
          <p>Find out all your options for <a href="https://www.it.ucla.edu/bol/contact-bruin-online" target="_blank">contacting Bruin OnLine</a>, email us at <a href="mailto:consult@ucla.edu">consult@ucla.edu</a>, or give us a call at 310-267-<strong>HELP</strong>.</p>
        </div>
        <p class="cta-button"><a href="https://www.it.ucla.edu/bol/contact-bruin-online" target="_blank">Bruin OnLine Help</a></p>
    	</div>
    	
      <div class="iam-footer-content footer-cta">
        <div class="cta-content">
          <h4>Know the Rules</h4>
          <p>Want to find out about the policies and protections relating to your digital identity at UCLA?</p>
        </div>
        <p class="cta-button"><a href="{{ site.baseurl }}/ucla-logon-mocks/cms-policies.html" target="_blank">Privacy, Security & Legal</a></p>
    	</div>
      
    </div>
  </footer>