  <footer role="contentinfo" class="iam-footer">

  	 <div class="iam-footer-content">
      <ul class="listless">
        <li><a href="#" target="tutorial">Frequently Asked Questions</a></li>
        <li><a href="#" target="tutorial">Managing my Identity</a></li>
        <li><a href="#" target="tutorial">Show me how to set up MFA</a></li>
      </ul>
  	</div>
  	
    <div class="iam-footer-content">
      <ul class="listless">
        <li>For Help Contact the Bruin Online Help Desk
          <ul>
            <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
            <li>310-267-HELP (4357)</li>
          </ul>
        </li>
      </ul>
  	</div>
  	
    <div class="iam-footer-content">
      <ul class="listless">
        <li><a href="{{ site.baseurl }}/ucla-logon-mocks/cms-policies.html">Privacy, Security & Legal</a></li>
        <li><a href="#">Cat Videos</a></li>
      </ul>      
    </div>

  </footer>