<div class="page-help dropdown" data-toggle="default-page-help">
  <span>get help <span class="icon-circle"><i class="fa fa-info"></i></span></span>
</div>

<div class="dropdown-pane" id="default-page-help" data-dropdown data-hover="true" data-hover-pane="true" data-auto-focus="true">
  <ul class="listless">
    <li>Contact the Bruin OnLine Help Desk
      <ul>
        <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
        <li>310-267-HELP (4357)</li>
      </ul>
    </li>
  </ul>
  
  <p>Check <a href="#"; target='tutorial'>Frequently Asked Questions</a>.</p>
</div>
