<div class="page-help has-tip" data-tooltip aria-haspopup="true" data-disable-hover="true" data-allow-html="true" tabindex="1" alt="click for help" title="  
    <ul class=&quot;listless&quot;>
      <li>Contact the Bruin OnLine Help Desk
        <ul>
          <li><a href=&quot;mailto:consult@ucla.edu&quot;>consult@ucla.edu</a></li>
          <li>310-267-HELP (4357)</li>
        </ul>
      </li>
    </ul>
    
    <p>Check <a href=&quot;#&quot; target='tutorial'>Frequently Asked Questions</a>.</p>
  "> get help 
  <span class="icon-circle"><i class="fa fa-info" aria-hidden="true"></i></span>
  
</div>
