      <div class="dropdown standalone-help" data-toggle="reset-page-help">
        <span class="icon-circle"><i class="fa fa-info"></i></span>
      </div>
      
      <div class="dropdown-pane" id="reset-page-help" data-dropdown data-hover="true" data-hover-pane="true" data-auto-focus="true">
        <h3>First & Last Name</h3>
          
        <p>These should be as you submitted them on official records, not a nickname or preferred first name that you commonly use.</p>
            
        <h3>You can find your UID:</h3>
        
        <ul>
          <li>on your online or paper letter of admission (new students, waitlisted applicants).</li>
          <li>on your BruinCard (current students, alumni, faculty, staff, contractor).</li>
          <li>on your UCLA transcript (current students, alumni).</li>
          <li>on your paycheck stub or online earnings statement (faculty, staff).</li>
        </ul>
        
        <p>If you cannot complete the form please bring photo identification that clearly displays both your full name and date of birth (Driver's License, Passport, or other government issued ID) to the Bruin OnLine Help Desk located in Suite 124, Kerckhoff Hall. If you are not able to visit the Help Desk, please fax in a completed copy of the <a href="https://logon-csb1.logon.ucla.edu/forms/service_request.pdf">UCLA Logon Service Request Form</a>, with all required supporting documentation.</p>
      </div>