<h1>Get Help</h1>

<p>If you're having problems managing your account, please bring University-issued photo identification to the Bruin OnLine Help Desk located in Suite 124, Kerckhoff Hall. If you are not able to visit the Help Desk, please fax in a completed copy of the <a href='/files/service_request.pdf");'>UCLA Logon Service Request Form</a>, with all required supporting documentation.</p>

<ul class="listless">
  <li>Contact the Bruin Online Help Desk
    <ul>
      <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
      <li>310-267-HELP (4357)</li>
    </ul>
  </li>
</ul>