<h1>About MFA in UCLA Logon</h1>

<p>Multi-Factor Authentication (MFA) adds extra protection for your  
UCLA Logon account. With MFA enabled, you'll be asked to take an extra step to confirm
your identity when signing in. This extra step prevents a hacker from accessing your
account using a stolen password.</p>

<p class="get-more-info"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 85" width="13px" height="13px"><polygon points="32.6 0 17.5 15.1 52.4 50 17.5 84.9 32.6 100 82.5 50 "/></svg>
 Learn More about MFA</a></p>

<h2>Setting Up MFA with your Smartphone</h2>

<p>If you have a smartphone, we recommend downloading the Duo Mobile app on your phone before starting the setup process. You will need to use the app when setting up MFA.

<ul class="listless">
  <li><a href="https://itunes.apple.com/us/app/duo-mobile/id422663827?mt=8" target="_blank">Download Duo Mobile from iTunes</a></li>
  <li><a href="https://play.google.com/store/apps/details?id=com.duosecurity.duomobile&amp;hl=en" target="_blank">Download Duo Mobile from Google Play</a></li>
  <li><a href="https://www.microsoft.com/en-us/store/p/duo-mobile/9nblggh08m1g" target="_blank">Download Duo Mobile from Microsoft Store</a></li>
</ul>

<h1>Get Help</h1>

<ul class="listless">
  <li><a href="#" target="tutorial">Show me how to set up MFA</a></li>
  <li><a href="#" target="tutorial">Frequently Asked Questions</a></li>
  <li>Contact the Bruin OnLine Help Desk
    <ul>
      <li><a href="mailto:consult@ucla.edu">consult@ucla.edu</a></li>
      <li>310-267-HELP (4357)</li>
    </ul>
  </li>
</ul>
