<div class="title-bar" data-responsive-toggle="nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
</div>
    
<nav class="top-bar" id="nav">
  <ul class="menu">
    <li><a href="manage-profile.html">My Personal Information</a></li>
    <li><a href="manage-accounts.html">My UCLA Logon ID</a></li>
    <li><a href="manage-bol.html">My BOL Services</a></li>
    <li class="mobile-only"><a href="#">Logout</a></li>
    <li class="mobile-only"><a href="#">Get Help</a></li>
  </ul>
</nav>
