<div class="title-bar" data-responsive-toggle="nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
</div>
  
  <nav>
    <ul class="menu">
      <li class="expanded"><a href="manage-accounts.html">Back to My UCLA Logon ID</a></li>
        <ul>
          <li class="active"><a href="#">Multifactor Authentication Management</a></li>
        </ul>
      </li>
      <li class="mobile-only"><a href="#">Logout</a></li>
      <li class="mobile-only"><a href="#">Get Help</a></li>
    </ul>
  </nav>