/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// breakpoints
$collapse-cards: 42.5em;
$multi-column: 56em;
$split-column-supporting-info: 74em;

// grid
@include add-grid(1.75 1);
@include add-gutter(1/12);
@include add-gutter-style('split');

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$ucla-blue: #3399cc;
$ucla-blue-safe: #347bad;
$ucla-gold: #ffe800;

// Secondary UCLA Colours

$ucla-blue-dark: #0055a6;
$ucla-blue-light: #00a5e5;

// Tertiary UCLA Colours

$ucla-yellow: #ffff00;
$ucla-green: #00ff87;
$ucla-pink: #ff00a5;
$ucla-cyan: #00ffff;
$ucla-purple: #8237ff;
$ucla-grey: #666;
$ucla-orange: #ffb300;

// Semantic Colours

$neutral: #ccc;
$white: #fff;
$black: #000;

$primary-color: $ucla-blue;
$primary-color-safe: $ucla-blue-safe;
$primary-color-alternate-state: $ucla-blue-dark;
$secondary-color: $ucla-gold;

$success-color: $ucla-green;
$error-color: $ucla-pink;
$error-color-dark: darken($ucla-pink, 42%);
$error-color-dark-alt: darken($ucla-pink, 46%);

$anchor-color: $ucla-purple;
$anchor-color-hover: #1e4b87;
$bullet-color: $ucla-green;

$footer-link-color: $white;
$footer-link-color-hover: $ucla-yellow;

$form-valid-color: $success-color;
$form-invalid-color: $error-color;
$input-background-color: lighten($neutral, 19%);
$input-background-color-focus: $white;

$background-light-grey: lighten($neutral, 12%);
$alternate-light-grey: lighten($neutral, 15%);

// SSO Specific

$secondary-login-option-color: #526991;
$sp-support-bg: rgba($white, .55);

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$html-background: #d1e8f8 url('../images/skyline.jpg') no-repeat;
$html-background-size: cover;
$body-text-color: #444;
$body-background-color: $white;

$font-stack: 'Proxima Nova', Verdana, sans-serif;
$font-stack-alt: 'Proxima Nova', Verdana, sans-serif;
$global-letter-spacing: 0.5px;
$header-weight: 300;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$header-height: 300;

// $h1-font-size: 2.625em; // 42px @ 100%base
$h1-font-size: 2.375em; // 38px @ 100%base
$h2-font-size: 1.5em; // 26px @ 100%base
$h3-font-size: 1.25em; // 20px @ 100%base
$h4-font-size: 1.125em; // 18px @100%base

$p-font-size: 1em; // 16px @100%base
$meta-font-size: .8125em; //13px @100%base

$header-line-height: 1.1;
$base-line-height: 1.4;

$default-spacing: 1em;
$half-spacing: $default-spacing / 2;
$double-spacing: $default-spacing * 2;
$triple-spacing: $default-spacing * 3;
$quad-spacing: $default-spacing * 4;
$octo-spacing: $default-spacing * 8;

$global-border-radius: 3px;
$card-border-radius: 8px;

/////////////////////////////////////////
///           FONT FACE
/////////////////////////////////////////

@font-face {
	font-family: '../fonts/ProximaNova';src: url('../fonts/ProximaNova-Light.eot');src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Light.woff') format('woff'),url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';src: url('../fonts/ProximaNova-Regular.eot');src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova-Regular.woff') format('woff'),url('../fonts/ProximaNova-Reg.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
