/////////////////////////////////////////
///             LAYOUT
/////////////////////////////////////////

// breakpoints
$multi-column: 30em; // 480px @ zoom:1

/////////////////////////////////////////
///            COLOURS
/////////////////////////////////////////

// Primary UCLA Colours

$ucla-blue: #3399cc;
$ucla-blue-safe: #347bad;
$ucla-gold: #ffe800;

// Secondary UCLA Colours

$ucla-blue-dark: #0055a6;
$ucla-blue-light: #00a5e5;

// Tertiary UCLA Colours

$ucla-yellow: #ffff00;
$ucla-green: #00ff87;
$ucla-pink: #ff00a5;
$ucla-cyan: #00ffff;
$ucla-purple: #8237ff;
$ucla-grey: #666;
$ucla-orange: #ffb300;

// Semantic Colours

$neutral: #ccc;
$white: #fff;
$black: #000;

$primary-color: $ucla-blue;
$primary-color-safe: $ucla-blue-safe;
$secondary-color: $ucla-gold;

$error-color: $ucla-pink;
$error-color-dark: darken($ucla-pink, 42%);
$error-color-dark-alt: darken($ucla-pink, 46%);

$anchor-color: $ucla-purple;
$anchor-color-hover: #1e4b87;
$bullet-color: $ucla-green;

$footer-link-color: $white;
$footer-link-color-hover: $ucla-yellow;

$form-valid-color: $ucla-blue-light;
$form-invalid-color: $ucla-pink;
$input-background-color: lighten($neutral, 19%);
$input-background-color-focus: $white;

$background-light-grey: lighten($neutral, 12%);
$alternate-light-grey: lighten($neutral, 15%);

/////////////////////////////////////////
///       TYPOGRAPHY / RHYTHM
/////////////////////////////////////////

$html-background: $white;
$body-background: $white;
$body-text-color: #444;

$font-stack: 'Proxima Nova', Verdana, sans-serif;
$font-stack-alt: 'Proxima Nova', Verdana, sans-serif;
$global-letter-spacing: 0.5px;

// prepare for media queries to shift base font and have that inherited down em chain
body {
	font-size: 100%;
}

$h1-font-size: 2.625em; //42px @ 100%base
$h2-font-size: 1.5em; // 26px @ 100%base
$h3-font-size: 1.25em; // 20px @ 100%base
$h4-font-size: 1.125em; // 18px @100%base

$p-font-size: 1em; // 16px @100%base
$meta-font-size: .8125em; //13px @100%base

$header-line-height: 1.1;
$base-line-height: 1.4;

$default-spacing: 1em;
$half-spacing: $default-spacing / 2;
$double-spacing: $default-spacing * 2;
$triple-spacing: $default-spacing * 3;
$quad-spacing: $default-spacing * 4;
$octo-spacing: $default-spacing * 8;

$global-border-radius: 3px;

/////////////////////////////////////////
///           FONT FACE
/////////////////////////////////////////

@font-face {
	font-family: 'Proxima Nova';src: url('/fonts/ProximaNova-Regular.eot');src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),url('/fonts/ProximaNova-Regular.woff') format('woff'),url('/fonts/ProximaNova-Reg.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';src: url('/fonts/ProximaNova-Semibold.eot');src: url('/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),url('/fonts/ProximaNova-Semibold.woff') format('woff'),url('/fonts/ProximaNova-Sbold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
