{{!-- This is the base layout for logged in pages where people manage others accounts. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCLA Logon</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
  
  <div class="page-wrap">

    <header class="page-header" role="banner">
      <section class="page-header-contents logged-in">
        <span class="logo"><a href="/admin"><img src="{{root}}assets/img/logo.png" alt="UCLA MY Logon"></a></span>
        <div class="logged-in-info">
          <p class="note-that">You're logged in as: Jen Burin</p>
          <p><a href="./">Logout</a></p>
        </div>
      </section>
    </header>
    
    <div class="page-content">

      {{> crumbs-qdb-admin}}
      {{> help-default}}
      
      {{> body}}

    </div>
  
  </div>
  
  {{> footer}}
  
  <script src="{{root}}assets/js/app.js"></script>
  
</body>

</html>