{{!-- This is the same as default except it loads zxcvbn for password strength checks. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCLA Logon</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  <header class="page-header" role="banner">
    <section class="page-header-contents">
      <span class="logo"><a href="./"><img src="{{root}}assets/img/logo.png" alt="UCLA"></a></span>
      <span class="logged"><a href="#">Login/out</a>
    </span>
  </header>
  
  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}
    
  <footer role="contentinfo" class="ucla-iam-footer">
  	<div class="ucla-iam-footer-content">
  		<p><a href="{{ site.baseurl }}/ucla-logon-mocks/cms-policies.html">Privacy, Security & Legal</a></p>
  	</div>
  </footer>

  <script src="{{root}}assets/bower_components/zxcvbn.js"></script>
  <script src="{{root}}assets/js/app.js"></script>
  <script>
    var strength = {
    	0: "Horrible!!",
    	1: "Bad!",
    	2: "Weak.",
    	3: "Good.",
    	4: "Great!"
    }
    
    var password = document.getElementById('pass1');
    var meter = document.getElementById('password-strength-meter');
    var text = document.getElementById('password-strength-text');
    
    password.addEventListener('input', function()
    {
      var val = password.value;
      var result = zxcvbn(val);
    
      // Update the password strength meter
      meter.value = result.score;
    
      // Update the text indicator
      if(val !== "") {
        text.innerHTML = "<strong>Strenth: " + strength[result.score] + "</strong> " + "<span class='help-text'>" + result.feedback.warning + ". " + result.feedback.suggestions + "</span"; 
      }
      else {
        text.innerHTML = "";
      }
    });
  </script>

</body>

</html>