{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UCLA Logon</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

  <header class="page-header" role="banner">
    <section class="page-header-contents">
      <span class="logo"><a href="./"><img src="{{root}}assets/img/logo.png" alt="UCLA MY Logon"></a></span>
    </section>
  </header>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> nav-menu}}
  
  {{> body}}
  
  {{> footer}}
  
  <script src="{{root}}assets/js/app.js"></script>
  
</body>

</html>